/* #myTable tr.active td {
    background-color: #c7cfd3 !important;
    color: white;
  } */

  table thead{
    border-bottom: 1px solid black
  }

  .card{
    background: none!important;
    border: none!important;
  }


  #btnDelete{
    color: indianred;
    cursor: pointer;
  }

  #btnDelete:hover{
    color: red
  }

  #btnEdit:hover{
    color: blue;
  }

#btnEdit{
  color: dodgerblue;
  cursor: pointer;
}

.fa-check{
  color: green;
}

.fa-ban{
  color: red;
}