<div class="container-fluid mt-1">
  <div class="row py-2 px-4">
    <div class="col-md-12">
      <div class="card panel mb-5 mt-5" style="background-color: #f5f5f5;">
        <div class="card-body p-4">
          <div class="row p-4 mb-3">
            <div class="col-md-12">
              <h2 class="panel-title text-bold mb-1">
                Our Users
              </h2>
            </div>

          </div>
          <div class="row p-4">
            <div class="col-md-12">
              <table id="myTable" class="table table-striped"  style="top: 20px; box-shadow: 4px 6px 6px 0 rgba(0, 0, 0, 0.061);">
                <thead>
                  <th scope="col">first Name</th>
                  <th scope="col">last Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Email</th>
                  <th scope="col">Activation</th>
                  <th scope="col"></th>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let gb of user"  (click)="set(gb)" [class.active]="selectedArea == gb"> -->
                    <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
                    <!-- <i class="fa fa-ban" aria-hidden="true"></i> -->
                  <tr *ngFor="let gb of user">
                    <td>{{gb.firstName}}</td>
                    <td>{{gb.lastName}}</td>
                    <td>{{gb.address}}</td>
                    <td>{{gb.phoneNumber}}</td>
                    <td>{{gb.email}}</td>
                    <td><i class="fa fa-check" *ngIf="gb.active" aria-hidden="true"></i><i class="fa fa-ban" *ngIf="!gb.active" aria-hidden="true"></i> </td>
                    <td>
                      <a (click)='editUser(gb)' id="btnEdit" class="pr-4">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                        <a (click)='deleteUser(gb)' id="btnDelete"><i class="fa fa-trash-o"></i></a>
                    </td>
                   
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>


    </div>

  </div>
</div>